:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: hsl(202, 74%, 26%);
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;

	--shadow-color: 0deg 0% 50%;
	--shadow-med: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
		2px 4px 4px hsl(var(--shadow-color) / 0.333), 3px 6px 6px hsl(var(--shadow-color) / 0.333);
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	color: var(--text-color);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	font-weight: 400;
	color: var(--heading-color);
}

p,
ul,
dl {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
}

h1 {
	font-size: 2rem;
	text-align: center;
	margin: 1.5rem 0;
}

h2 {
	margin: 1.7rem 0 1.2rem 0;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

ul {
	padding-left: 1rem;
}

dd,
dl,
ul {
	margin: 0;
}

.bold {
	font-weight: 700;
}

input {
	/** Remove shadow on Safari iOS */
	-webkit-appearance: none;
}
